{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/logo-color.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bc2a3a5e96.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"> -->
    <title>Portfolio - Ali Fattahian</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <!-- <div class="images">
        <img src="images/background-upper.JPG" alt="sky">
        <img src="images/background-lower.JPG" alt="mountains">
      </div> -->
      <section class="section" id="section--1">
        <!-- <img src="images/background-lower.JPG" alt="mountains" class="foreground">
        <img src="images/background-upper.JPG" alt="sky" class="background"> -->
        <div class="nav-container">
          <nav id="nav">
            <a
              href="#section--2"
              class="nav__item"
              title="Let's look at my projects"
              >PROJECTS</a
            ><a href="#section--3" class="nav__item" title="Know more about me"
              >ABOUT</a
            ><a href="#section--4" class="nav__item" title="Contact me!"
              >CONTACT</a
            >
            <a
              href="#"
              class="nav__item nav__download"
              download="ali-fattahian-resume"
              title="Download my resume"
              >RESUME</a
            >
          </nav>
          <!-- <audio id="song">
              <source src="" type="audio/mp3"> #Copyright issues
          </audio> -->
        </div>
        <div class="intro-text"></div>
      </section>
      <section class="section section--hidden" id="section--2">
        <h2 class="l-heading">PROJECTS</h2>
        <div class="projects">
          <a href="https://github.com/Ali-Fattahian/Ecommerce-Website-Prime-Connect" class="project" target="_blank">
            <img class="project-image" src="{% static 'core/images/Ecommerce.jpg' %}" alt="Ecommerce - Prime Connect" />
            <div class="overlay">
              <p>
                Prime Connect is an e-commerce website with features such as: usage of blurhash for user experience improvement, fully separate admin panel with analysis of sales, jwt auth system and advanced filtering for products section.
              </p>
            </div>
          </a>
          <a href="https://github.com/Ali-Fattahian/twitter-clone-backend" class="project" target="_blank">
            <img class="project-image" src="{% static 'core/images/Twitter-clone.jpg' %}" alt="Twitter Clone" />
            <div class="overlay">
              <p>
                Twitter clone is a full stack website built with Django, DRF and React. It has: Email validation, explore system based on tweets and users, user suggestion system, CRUD operations for tweets and profiles and reply, like, bookmark system.
              </p>
            </div>
          </a>
          <a href="https://github.com/Ali-Fattahian/instagram-clone" class="project" target="_blank">
            <img class="project-image" src="{% static 'core/images/Instagram-clone.jpg' %}" alt="Instagram clone" />
            <div class="overlay">
              <p>
                Instagram clone is a website which utilizes Django for showing templates. Features are: Email validation, search system, follow system for users, secure password reset system. CRUD operations, like, comment and bookmark system for posts.
              </p>
            </div>
          </a>
          <a href="https://github.com/Ali-Fattahian/Techie-Tweed-Blog" class="project" target="_blank">
            <img class="project-image" src="{% static 'core/images/Blog.jpg' %}" alt="Blog-Techie-Tweed" />
            <div class="overlay">
              <p>
                Techie Tweed is a blog focused on technical articles. Its features are: different groups and permissions system for users, CRUD operations and pagination for posts, weekly automatic backup system, session based authentication and bookmark system.
              </p>
            </div>
          </a>
        </div>
      </section>
      <section class="section section--hidden" id="section--3">
        <div class="about-me">
          <div class="about-me__content">
            <h2 class="l-heading">ABOUT ME</h2>
            <p>
              My name is Ali. The first time I experienced coding was in middle school around 10 years ago with different languages like visual basic and C++. My web development journey started 3 years ago with Python and since then I have always tried to improve. I just finished university and looking forward to start my career as a web developer, I love learning new things in life and solving complex programming problems.
            </p>
          </div>
          <img
            src="{% static 'core/images/my-image.jpg' %}"
            alt="Ali Fattahian's picture"
            class="about-me__image"
          />
        </div>
      </section>
      <section class="section section--hidden" id="section--4">
        <div class="contact-me">
          <h2>CONTACT ME</h2>
          <div class="message hidden">
            <span></span><span class="message-close"><span><span class="message-close-bracket">[</span> CLOSE<span class="message-close"><span><span class="message-close-bracket">]</span></span>
          </div>
          <form method="post" class="contact-me__form">
            <input type='hidden' id='token' value='{{ csrf_token }}' />
            <input type="text" name="name" id="name" placeholder="Name" required />
            <input type="email" name="email" id="email" placeholder="Email" required />
            <input
              type="text"
              name="subject"
              id="subject"
              placeholder="Subject"
              required
            />
            <textarea
              name="message"
              id="message"
              placeholder="Message"
              required
            ></textarea>
            <div class="send-div">
              <button type="submit">Send</button>
            </div>
          </form>
          <div class="contact-me__socials">
            <div class="socials">
              <a href="www.linkedin.com/in/ali-fattahian" target="_blank" class="social-icon" id="linkedin"
                ><li class="fa fa-linkedin-square"></li></a
              ><a href="https://github.com/ali-fattahian" target="_blank" class="social-icon" id="github"
                ><li class="fa fa-github-square"></li></a
              ><a href="https://wa.me/+989134822507" target="_blank" class="social-icon" id="whatsapp"><li class="fa fa-whatsapp"></li></a
              ><a href="https://t.me/AliFattahian" target="_blank" class="social-icon" id="telegram"
                ><li class="fa fa-telegram"></li
              ></a><a href="mailto:ali.fattahian1378@gmail.com" target="_blank" class="social-icon" id="mail"><li class="fa fa-envelope"></li></a>
          </div>
          </div>
        </div>
      </section>
    </div>
    <script src={% static 'core/js/script.js' %}></script>
  </body>
</html>
