:root {
  --primary-color: #575757;
  --secondary-color: #fff;
  --background-color: #0e0e0e;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  background-color: var(--background-color);
  letter-spacing: 4px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  aspect-ratio: 1/1;
  display: block;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding: 1rem 0;
}

.section {
  background-color: var(--background-color);
  width: 100%;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(4rem);
}

.l-heading {
  color: #d62323;
  margin: 0;
  margin-bottom: 2rem;
}

#section--1 {
  /* background-image: url("./images/wallpaper1.jpeg"); */
  object-fit: cover;
  object-position: center;
  position: relative;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.nav-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  position: absolute;
  top: 0;
}

#nav {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#nav > a {
  color: var(--secondary-color);
  margin: 0 0.5rem;
  letter-spacing: 3px;
  transition: all 0.4s ease-in-out;
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-text {
  width: 320px;
  height: 320px;
  position: relative;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  line-height: 2;
  margin-top: 10rem;
}

.intro-text:before {
  content: "";
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  animation: spin 3s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.intro-text:after {
  content: "Ali Fattahian\a Full stack \aWeb developer";
  white-space: pre;
  position: absolute;
  background-color: var(--background-color);
  height: 93%;
  width: 93%;
  top: 3.5%;
  left: 3.5%;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 8px;
  color: var(--secondary-color);
  font-size: 1.5rem;
  display: grid;
  place-items: center;
}

#section--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section--2 h2 {
  transform: translateX(-300px);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 750px;
}

.project {
  overflow: hidden;
}
/*Animate overlay and move it 'above'*/
.project .overlay {
  transform: translate3d(-100%, 0, 0);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Mouse enter event */
.project.mouseenter.top .overlay {
  animation-name: slide--enter-top;
}
.project.mouseenter.right .overlay {
  animation-name: slide--enter-right;
}
.project.mouseenter.bottom .overlay {
  animation-name: slide--enter-bottom;
}
.project.mouseenter.left .overlay {
  animation-name: slide--enter-left;
}

/* Mouse leave event */
.project.mouseleave.top .overlay {
  animation-name: slide--leave-top;
}
.project.mouseleave.right .overlay {
  animation-name: slide--leave-right;
}
.project.mouseleave.bottom .overlay {
  animation-name: slide--leave-bottom;
}
.project.mouseleave.left .overlay {
  animation-name: slide--leave-left;
}

/* Sliding animations ! */
@keyframes slide--enter-top {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--enter-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: none;
  }
}
@keyframes slide--leave-top {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slide--leave-right {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slide--leave-bottom {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slide--leave-left {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* .layout {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.project {
  position: relative;
  display: flex;
  flex: 1 1 30%;
  margin: 1%;
  align-items: center;
  justify-items: center;
  color: var(--secondary-color);
}

.project-image {
  flex: 1;
  text-align: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: #0e0e0e94;
  text-align: center;
}

.overlay p {
  padding: 1rem;
}

#section--3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 100%;
  max-width: 750px;
  padding: 1rem;
}

.about-me__content {
  color: var(--secondary-color);
  line-height: 1;
}

.about-me__content p {
  margin: 0;
}

.about-me__content p {
  letter-spacing: 2px;
  line-height: 1.5;
}

.about-me__image {
  max-width: 456px;
  border-radius: 3px;
  object-fit: contain;
}

#section--4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me {
  width: 100%;
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.contact-me h2 {
  color: #d62323;
  margin-bottom: 2rem;
  align-self: flex-start;
}

.message {
  margin-bottom: 2rem;
  color: #29BF12;
  text-transform: uppercase;
  font-size: 12px;
}

.message-close {
  margin-left: .5rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all ease-in 400ms;
}

.message-close:hover {
  font-weight: bold;
}

.message-close-bracket {
  transition: all;
}

.message-close:hover .message-close-bracket {
  color: #d62323;
}

.contact-me__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: left;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  overflow: hidden;
}

.contact-me__form > input,
.contact-me__form > textarea {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 2px;
  color: var(--secondary-color);
}

.contact-me__form > textarea {
  height: 34px;
}

.contact-me__form > input:focus,
.contact-me__form > textarea:focus {
  outline: none;
}

.contact-me__form .send-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.contact-me__form button {
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  background-color: transparent;
  color: #d62323;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.contact-me__form button:hover:before,
.contact-me__form button:hover:after {
  transform: scale(0);
}

.contact-me__form button:before {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  top: -19px;
  left: 9px;
  width: calc(100% - 20px);
  height: calc(100% - 8px);
  transition: 0.5s ease;
}

.contact-me__form button:after {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  top: 26px;
  left: 9px;
  width: calc(100% - 20px);
  height: calc(100% - 8px);
  transition: 0.5s ease;
  transition-delay: 0.4s;
}

.contact-me__socials {
  margin: auto;
  width: 100%;
  max-width: 500px;
  border-top: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.socials {
  border-top: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials > a {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: var(--primary-color);
  transition: color 0.5s ease;
}

#telegram:hover {
  color: #2ca1d2;
}
#whatsapp:hover {
  color: #32d94f;
}
#mail:hover {
  color: #f7f7f7;
}
#linkedin:hover {
  color: #0177b5;
}
#github:hover {
  color: #f7f7f7;
}

@media screen and (max-width: 799px) {
  #section--2 h2 {
    width: 100%;
    padding-left: 2rem;
    transform: none;
  }

  .about-me {
    grid-template-columns: 1fr;
  }

  .about-me__image {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 425px) {
  #nav a {
    font-size: 3vw;
  }

  .overlay p {
    font-size: 4vw;
  }

  .about-me__content p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 350px) {
  .intro-text {
    width: 90vw;
  }
}